<div class="balance-card">
  <div class="balance-header">
    <p class="card-title">{{ title() }}</p>
    <button class="btn-secondary-danger" (click)="clearTransactions()">Remove All Data</button>
  </div>
  <p class="card-amount">{{ amount() }}</p>

  <!-- Labels above the bar -->
  <div class="progress-labels">
    <span>Negative</span>
    <span class="label-zero">0</span>
    <span>Positive</span>
  </div>

  <!-- The Unified Bar -->
  <div class="progress-track">
    <!-- Center Marker Line -->
    <div class="center-divider"></div>

    <!-- Left Side (Negative) -->
    <div class="track-half negative-side">
      <div class="fill-negative" [style.width.%]="negativeAmount()"></div>
    </div>

    <!-- Right Side (Positive) -->
    <div class="track-half positive-side">
      <div class="fill-positive" [style.width.%]="positiveAmount()"></div>
    </div>
  </div>
</div>
