<div class="title-header">
  <h1>Finance Dashboard</h1>
</div>
<section class="section">
  <div class="flex-container">
    <div class="flex-grow">
      <app-transaction-form />
    </div>
    <div class="flex-container flex-grow flex-column">
      <app-balance-card
        class="top-item"
        title="Total balance"
        [amount]="totalBalance()"
        [totalAmount]="totalAmount()"
      />
      <div class="top-item">
        <h1>Summary</h1>
        <hr style="margin-block: 0.5rem" />
        <app-summary-card title="Income" [amount]="totals().income" color="blue" />
        <app-summary-card title="Expense" [amount]="totals().expense" color="red" />
        <p>
          Top Category - <span> {{ topCategory() }} </span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <h3>Data charts</h3>
  <div class="grid-container">
    <app-chart-card
      title="Expenses By Category"
      chartType="doughnut"
      [chartData]="expenses()"
      [options]="doughnutOptions"
    />
    <app-chart-card
      title="Trend Last Year"
      chartType="line"
      [chartData]="lastYearTrend()"
      [options]="lineOptions"
    />
    <app-chart-card title="Income vs Expense" chartType="bar" [chartData]="incomeExpense()" />
  </div>
</section>

<app-category-trend />
