/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

section {
  max-width: 1200px; /* Limits width so it stays a neat square/rectangle */
  margin: 40px auto; /* Centers the whole section on the page */
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
  display: flex;
  gap: 1rem;
}

.pa-1 {
  padding: 1rem;
}

.pa-2 {
  padding: 2rem;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

h2 {
  font-size: x-large;
  font-weight: 500;
  text-align: center;
}

/* Centered Title */
section h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ===== Charts Section ===== */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.25rem;
}

.no-data {
  display: flex;
  justify-content: center;
}

.income {
  color: blue;
}

.expense {
  color: red;
}

@media (width <= 768px) {
  .flex-container {
    flex-direction: column;
  }

  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
